body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(image/landscape.jpg);
    background-size: cover;
}

.navbar {
    position: relative;
    margin: 50px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    left : 100px;
}

.navbar a {
    color: white;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 25px;
}

h1 {
    color: red;
    font-weight: bolder;
    text-align: center;
}



.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    top: 25%;
    left: 25%;
    position: absolute;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: none;
}

button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}