body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(image/landscape.jpg);
    background-size: cover;
}

.navbar {
    position: relative;
    margin: 50px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    left : 100px;
}

.navbar a {
    color: white;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 25px;
}

h1 {
    border: 10cap;
    font-weight: bolder;
    color: aliceblue;
}


h1 {
text-align: center;


} 

.text{
 color: white;
    
 
}

text{
text-align: center;


}